<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>登录</title>
  </head>
  <body>
    <div class="form-container">
        <p class="form-header">登录</p>
        <form action='login' method='POST' align="center">
          <table>
            <tr>
                <td><label for="user">账号：</label></td>
                <td><input type="text" id="user" name="login_username" /></td>
            </tr>
            <tr>
                <td><label for="pwd">密码：</label></td>
                <td><input type="password" id="pwd" name="login_password" /></td>
            </tr>
            <tr>
              <td colspan='2' align="right">
                <a href="/">注册</a>
                <input type="submit" value='登录'/>
              </td>
            </tr>
          </table>
        </form>
    </div>
  </body>
</html>
